@model Udemy_App_Entity_Framework_DB_First_Approach.Models.Product
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2 class="text-center">Create Product</h2>

@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="row m-2">
        <div class="col-md-6">
            @Html.LabelFor(temp => temp.ProductName)
            @Html.TextBoxFor(temp => temp.ProductName, new { placeholder = "Product Name", @class = "form-control" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Price)
            @Html.TextBoxFor(temp => temp.Price, new { placeholder = "Price", @class = "form-control" })

        </div>
    </div>
    <div class="row m-2">
        <div class="col-md-6">
            @Html.LabelFor(temp => temp.DateOfPurchase)
            @Html.TextBoxFor(temp => temp.DateOfPurchase, new { placeholder = "Date Of Purchase", @class = "form-control", type = "date" })

        </div>
        <div class="col-md-6">
            @Html.LabelFor(temp => temp.AvailabilityStatus)
            @Html.DropDownListFor(temp => temp.AvailabilityStatus, new List<SelectListItem>() {
                new SelectListItem(){ Text="In Stock", Value= "InStock"},
                new SelectListItem(){ Text="Out of Stock", Value= "OutOfStock"}
            }, "Select", new { @class = "form-control" })
        </div>
    </div>
    <div class="row m-2">
        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Brand)
            @Html.DropDownListFor(temp => temp.BrandID, new SelectList(ViewBag.Brands, "BrandID", "BrandName"), "Select", new { @class = "form-control" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Category)
            @Html.DropDownListFor(temp => temp.CategoryID, new SelectList(ViewBag.Categories, "CategoryID", "CategoryName"), "Select", new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Image</label>
            <input type="file" class="form-control" name="Photo">
        </div>
    </div>
    <div class="row m-2">
        <div class="col-md-6">
            @Html.LabelFor(temp => temp.Active)
            @Html.CheckBoxFor(temp => temp.Active.Value, new { value = "true" })
        </div>
    </div>
    <button class="btn btn-primary m-2" type="submit">Submit</button>
}

