@model List<Udemy_App_Entity_Framework_DB_First_Approach.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Products</h2>
<div class="row">
    <div class="col-md-6">
        <a href="/products/create">Create Product</a>
    </div>
    <div class="col-md-6">
        <form class="form-check-inline" action="/products/index">
            @Html.Label("Search", new { @class = "mr-1" })
            @*<label class="mr-1">Search</label>*@

            @Html.TextBox("Search", ViewBag.search as string, new { @class = "form-control mr-1" })
           @* <input type="search" class="form-control mr-1" id="search" name="search" placeholder="Search" value="@ViewBag.search" autocomplete="off">*@
            <button class="btn-primary" type="submit">Go</button>
        </form>
    </div>
</div>
<table class="table">
    <tr class="table-secondary">
        @*Photo*@
        <th style="width:15%">Photo</th>
        @*ID*@
        <th>
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/products/index?SortColumn=ProductID&IconClass=fa-sort-asc&PageNo=1" style="text-decoration:none; color:#000">ID</a>
                if (ViewBag.SortColumn == "ProductID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/products/index?SortColumn=ProductID&IconClass=fa-sort-desc&PageNo=1" style="text-decoration:none; color:#000">ID</a>
                if (ViewBag.SortColumn == "ProductID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>

        @*Name*@
        <th>
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/products/index?SortColumn=ProductName&IconClass=fa-sort-asc&PageNo=1" style="text-decoration:none; color:#000">Name</a>
                if (ViewBag.SortColumn == "ProductName")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/products/index?SortColumn=ProductName&IconClass=fa-sort-desc&PageNo=1" style="text-decoration:none; color:#000">Name</a>
                if (ViewBag.SortColumn == "ProductName")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>

        @*DateOfPurchase*@
        <th>
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/products/index?SortColumn=DateOfPurchase&IconClass=fa-sort-asc&PageNo=1" style="text-decoration:none; color:#000">Date Of Purchase</a>
                if (ViewBag.SortColumn == "DateOfPurchase")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/products/index?SortColumn=DateOfPurchase&IconClass=fa-sort-desc&PageNo=1" style="text-decoration:none; color:#000">Date Of Purchase</a>
                if (ViewBag.SortColumn == "DateOfPurchase")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>

        @*Price*@
        <th>
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/products/index?SortColumn=Price&IconClass=fa-sort-asc&PageNo=1" style="text-decoration:none; color:#000">Price</a>
                if (ViewBag.SortColumn == "Price")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/products/index?SortColumn=Price&IconClass=fa-sort-desc&PageNo=1" style="text-decoration:none; color:#000">Price</a>
                if (ViewBag.SortColumn == "Price")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>

        @*Brand*@
        <th>
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/products/index?SortColumn=BrandID&IconClass=fa-sort-asc&PageNo=1" style="text-decoration:none; color:#000">Brand</a>
                if (ViewBag.SortColumn == "BrandID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/products/index?SortColumn=BrandID&IconClass=fa-sort-desc&PageNo=1" style="text-decoration:none; color:#000">Brand</a>
                if (ViewBag.SortColumn == "BrandID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>

        @*Category*@
        <th>
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/products/index?SortColumn=CategoryID&IconClass=fa-sort-asc&PageNo=1" style="text-decoration:none; color:#000">Category</a>
                if (ViewBag.SortColumn == "CategoryID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/products/index?SortColumn=CategoryID&IconClass=fa-sort-desc&PageNo=1" style="text-decoration:none; color:#000">Category</a>
                if (ViewBag.SortColumn == "CategoryID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>

        @*Active*@
        <th>Active</th>

        @*AvailabilityStatus*@
        <th>Available</th>

        <th>Details</th>
    </tr>

    @foreach (var p in Model)
    {
        <tr>
            <td> <img src="data:image;base64, @p.Photo" width="100px"/></td>
            <td>@Html.DisplayFor(temp => p.ProductID)</td>
            <td>@Html.DisplayFor(temp => p.ProductName)</td>
            <td>
                @if(p.DateOfPurchase.HasValue)
                {
                <span> @p.DateOfPurchase.Value.ToString("d/M/yyyy")</span>
                }
           </td>
            <td>
                @if(p.Price.HasValue)
                {
                <span>@p.Price.Value.ToString("C")</span>
                }
            </td>
            <td>
                @if (p.Brand != null)
                 {
                <span>@p.Brand.BrandName</span>
                 }
            </td>
            <td>
                @if (p.Category != null)
                 {
                <span>@p.Category.CategoryName</span>
                 }
            </td>
            <td>@p.Active</td>
            <td>@p.AvailabilityStatus</td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = p.ProductID, controller = "Products"})
                @Html.ActionLink("Edit", "Edit", new { id = p.ProductID, controller = "Products"})
                @Html.ActionLink("Delete", "Delete", new { id = p.ProductID, controller = "Products"})
            </td>

        </tr>
    }
    <tr>
        <td colspan="9">
            @{ 
                int PrevPgNo = ViewBag.PageNo - 1;
                if(PrevPgNo <= 0)
                {
                    PrevPgNo = 1;
                }

                int NextPgNo = ViewBag.PageNo + 1;
                if (NextPgNo > ViewBag.NoOfPages)
                {
                    NextPgNo = ViewBag.NoOfPages;
                }
            }
            <ul class="pagination justify-content-center">
                @for (int i = 0; i < ViewBag.NoOfPages; i++)
                {
                    if ((i + 1) == ViewBag.PageNo)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@(i+1)">@(i + 1)</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@(i+1)">@(i + 1)</a>
                        </li>
                    }

                }
            </ul>
        </td>
    </tr>
</table>